.edu{
	background-image: url("edu.jpg");
	width: 100%;
	height: 450px;
	background-color: black;

	justify-content: center;
	align-items: center;
	display: flex;
}

#minuy{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #1E94B2;
}

.tense{
	margin-right: 31px;
	margin-left: 31px;
	color: white;
	font-size: 33px;
	color: white;
	text-decoration: none;
}

.inedu{
	margin-left: 50px;
	margin-right: 300px;

}
.inneredu{
	font-size: 80px;
	color: white;
	font-weight: bolder;
	background: linear-gradient(to right,rgb(76,149,167),gray,rgb(76,149,167));
}


/* .grammar{
	text-align: center;
	font-size: 50px;
	background-color: pink;
	margin-bottom: 35px;
	font-weight: bolder;
} */
.hi{
	font-size: 90px;
	text-align: center;
	font-weight: bold;

	position: -webkit-sticky;
  	position: sticky;
  	top: 0px;
  	background-color: #F0FFFF;
	
}

.menu{
	text-align: center;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;

	margin-top: 10px;
	background-color: black;
}

.present{
	margin-left: 20px;
	margin-right: 20px;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.presentsimple{
	font-size: 50px;
	color: #1E94B2;
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}
.presentform{
	width: 65%;
	color: #4682B4;
	font-size: 25px;
	border: 3px solid gray;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 15px;

	margin-left: 210px;

}


.definition{
	/*border: solid 1px black;*/
	font-size: 25px;
	width: 80%;
	margin-bottom: 10px;
	
	margin-left: 130px;
}

.verb{
	font-family: arial;
	font-size: 25px;
}

.leftright{
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	padding-left: 100px;
}


.footer{
	font-size: 40px;
	margin-right: 50px;
	text-decoration: none;
	color: black;

	/*border: 1px solid black;*/
}

.rightre{
	height: 200px;
	background-color: black;
	/*background: linear-gradient(to right,gray,black,gray);*/
	color: white;

	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	word-spacing: 3px;
	letter-spacing: 3px;
}
